{% extends 'blog/main.html' %}

  {% block title %}Post{% endblock title %}

  <div class="box-element p-4">
    <a class="btn btn-outline-dark text-dark" href="/blog/">&#x2190; Back to Blog</a>
    <div>
    <hr>
  
{% block body %}
{% for message in messages %}
    <div align="left" class="bg-success text-light alert alert-{{ message.tags }} alert-dismissible fade show my-0 mx-0" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

<div>
  <div>
    <div class="shadow  my-4">
      <h1 align='center'>{{posts.title}}</h1>
      <h6 align='right' class='text-secondary'> {{posts.created_at}} </h6>
    </div>
  </div>
<P class="px-4 mx-4"> {{posts.body}} </P>
</div>
{% endblock body %}



